*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}


.main {
    background-color: #0071dc;
    height: 8rem;
}

/* .box-round:hover{
    border-radius: 30px;
    padding: 0.2rem;
    background-color: #06325b;
    
} */

.hover-bg-dark-primary:hover{
    background-color: #fc8484;
    border-radius: 3.25rem;

}